@CHARSET "UTF-8";

body {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 10px;
	max-width:800px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

h1 {
	font-family: "Courier New",Courier,monospace;
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	background-image: url('http://media.smashingmagazine.com/cdn_smash/images/header-contest/full/avto.jpg');
	padding-top: 50px;
	padding-left: 20px;
	min-height: 80px;			
}

h2 {
	font-size: 20px;
	font-weight: bold;
	color: #666600;
	border-bottom-style: #999900;	
}

.menu {
	font-size: 14px;
	background-color: #999900;
}

.menu a {
	color: white;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}

.content {
	border-color: #999900;
	border-width: 1px;
	padding: 10px;
	
}

.left {
	float:left;
	width: 100px;
}

.main {
	margin-left: 110px;
	border-left-width: 1px;
	border-left-style: dashed;
	padding-left: 10px;
	text-align: justify;
}