/* 
    Document   : PokerTable
    Created on : Feb 27, 2011, 7:57:56 PM
    Author     : madis
    Description:
        Sylesheed for poker table.
*/

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}

html {
	background: white;
}
body {
	background: red;
	margin:auto;
	height: 600px;
	width: 800px;
}

.pokerTable {
	position: relative;
	height: 500px;
	width: 800px;
	
	background-image: url("images/ft_green_poker_skin.png");	
	background-color: green;
	color: black;
}

.players {
	background-color: gray;
	position:absolute;
	color: white;
	width: 120px;
	height: 60px;
}

#p1 {
	top: 60px;
	left: 500px;
}

#p2 {
	top: 160px;
	left: 600px;
}

#p3 {
	top: 280px;
	left: 600px;
}

#p4 {
	position:absolute;
	top: 380px;
	left: 500px;
}

#p5 {
	top: 380px;
	left: 300px;
}

#p6 {
	top: 375px;
	left: 130px;
}

#p7 {
	top: 273px;
	left: 42px;
}

#p8 {
	top: 150px;
	left: 42px;
}

#p9 {
	top: 55px;
	left: 170px;
}

#playerActions {
	float: right;
	
	background: blue;
	height: 100px;
	width: 250px;
}

#chat {
	float: left;
	height: 100px;
	width: 200px;
}

.playerAction {
	width: 30%;
	height: 100px;
	background-color: yellow;
	
}

#handInfo {
	position: absolute;
	background-color: white;
	top: 200px;
	left: 200px;
	float: center;
	width: 375px;
}

#communityCards {
	background-color: orange;
}

#pot {
	background-color: turquoise;
}

#playerCards {
	overflow: hidden;
	height: 30px;
}

#playerName {
	background-color: white;
	color: black;

}

#playerMoney {
	
}

#playerCards img {
	width: 75%;
}

#holeCard1 {
	position: absolute;
	overflow: hidden;
	bottom: 35px;
/*	width: 25px;*/
}

#holeCard2 {
	position: absolute;
	overflow: hidden;
	bottom: 35px;
	left: 25px;
}